@use 'fonts';

.footer {
    min-height: 218px;
    height: 100%; 
    background-color: #232323;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center; 
    padding-bottom: 53px; 

    &__logo {
        font-family: fonts.$head-font;
        font-size: 24px;
        font-weight: bold;
        line-height: 26px;
        letter-spacing: 3.36px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 8px;

    }

    &__text {
        font-family: fonts.$head-font;
        font-size: 16px;
        font-weight: normal;
        line-height: 26px;
        letter-spacing: 1.6px;
        text-align: center;
        margin-bottom: 20px; 
    }
}

.footer__icons {
    max-width: 166px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
} 

.fa-linkedin-in {
    color: #5474FD;
}

.fa-facebook-f:hover, .fa-twitter:hover, .fa-linkedin-in:hover, .fa-youtube:hover, .fa-pinterest:hover {
  transform: scale(1.5);   
}

