@use 'fonts';

.header {
    background-image: url(../images/header-background.png);
    min-height: 820px;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        font-family: fonts.$head-font; 
        font-size: 48px; 
        font-weight: bold; 
        line-height: 26px;
        letter-spacing: 4.8px;
        text-transform: uppercase;
        margin-bottom: 11px;
    }

    &__text {
        font-family: fonts.$head-font;
        font-size: 22px;
        font-weight: normal;
        line-height: 26px;
        letter-spacing: 6.82px;
    }
}

.scroll {
    font-family: fonts.$head-font;
    font-size: 14px;
    font-weight: normal;
    line-height: 28px;
    letter-spacing: 2.8px;

    &__icon {
        font-size: 11px;
    }
}

@import 'nav';