/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@use 'fonts';

.header {
    background-image: url(../images/header-background.png);
    background-repeat: no-repeat;
    background-attachment: relative;
    background-size: cover; 
    min-height: 820px;
    height: 100%; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    &__title {
        font-family: fonts.$head-font; 
        font-size: 48px; 
        font-weight: bold; 
        line-height: 26px;
        letter-spacing: 4.8px;
        text-transform: uppercase;
        margin-bottom: 11px;
    }

    &__text {
        font-family: fonts.$head-font;
        font-size: 22px;
        font-weight: normal;
        line-height: 26px;
        letter-spacing: 6.82px;
        margin-bottom: 48px;
    }
}

form {
    background-color: #fff;
    max-width: 653px; 
    width: 100%;
    min-height: 60px;
    height: 100%; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; 
    -webkit-box-align: center; 
        -ms-flex-align: center; 
            align-items: center;  
}

input {
    all: unset; 
    width: 500px;  
    font-family: fonts.$head-font;
    font-weight: normal;
    font-size: 14px; 
    line-height: 26px;
    letter-spacing: 2.8px;
    text-align: center;
}

.search__button {
    all: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 150px;
    min-height: 60px;
    height: 100%; 
    background-color: #5474FD;
    font-style: fonts.$main-font; 
    font-size: 14px;
    line-height: 26px; 
    letter-spacing: 1.4px; 
    text-transform: uppercase; 
    color: fonts.$main-txt-color; 
    border: 2px solid #fff; 
}

.search__button:hover {
    background-color: #17204a;
    cursor: pointer;
}

.fa-magnifying-glass {
    font-size: 22px; 
    margin-left: 10px; 
}

.scroll {
    margin-top: 108px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-items: center;
    
    &__text {
        font-family: fonts.$head-font;
        font-size: 14px;
        font-weight: normal;
        line-height: 28px;
        letter-spacing: 2.8px;
        text-decoration: none;
    }

        & a {
            text-decoration: none;
        }
    
    &__icon {
        text-align: center; 
    }
}

@import 'nav';
