@use 'fonts';

* {
    color: fonts.$main-txt-color;
}

.nav {
    width: 100%;
    background-color: #5474FD;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
        
    &__logo {
        font-family: fonts.$head-font;
        font-weight: bold; 
        font-size: 24px;
        line-height: 26px;
        letter-spacing: 2.4px;
        text-transform: uppercase;
    }
    
        &__logo:hover {
            color: #17204a;
            cursor: pointer;
        }

    &__links {
        display: flex; 
        font-family: fonts.$main-font; 
        font-weight: normal; 
        font-size: 14px; 
        line-height: 26px;
        text-transform: uppercase;
        text-decoration: none; 
    }

        &__links li a {
            display: flex;
            font-family: fonts.$main-font; 
            font-weight: normal; 
            font-size: 14px; 
            line-height: 26px;
            text-transform: uppercase;
            text-decoration: none;  
            margin-right: 40px;
        }

            &__links a:hover {
                color: #17204a;
            }
}
