@use 'fonts';

.second-section-first {
    background-image: url(../images/sec2-background1.png); 
    background-repeat: no-repeat;
    background-attachment: relative;
    background-size: cover; 
    min-height: 700px;
    height: 100%;
    display: flex; 
    justify-content: flex-start;
    align-items: center;

}

.second-section {
    position: relative;

    &__card1 {
    position: absolute; 
    left: 328px;
    top: 227px;
    padding-left: 23px;
    max-width: 543px;
    width: 100%;
    height: 374px;
    background-color: #232323c8;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
    }

    &__top {
        font-family: fonts.$head-font;
        font-size: 20px;
        font-weight: normal;
        line-height: 26px; 
        letter-spacing: 1.5px;
        color: fonts.$main-info-color;
    }

    &__title {
        font-family: fonts.$head-font;
        font-size: 20px;
        font-weight: normal;
        line-height: 26px;
        text-transform: uppercase;
    }

    &__info {
        font-family: fonts.$head-font;
        font-size: 16px;
        font-weight: normal;
        line-height: 26px;
        color: fonts.$main-info-color;
    }
}

.second-section-second {
    background-image: url(../images/sec2-background2.png);
    background-repeat: no-repeat;
    background-attachment: relative;
    background-size: cover; 
    min-height: 700px;
    height: 100%; 
    position: relative;

    &__card {
        position: absolute; 
        left: 900px;
        top: 229px;
        padding-left: 23px;
        max-width: 543px;
        width: 100%;
        height: 374px;
        background-color: #232323c8;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly
        }
    }



.second-section-button {
    background-color: #5474FD;
    opacity: 100%;
    width: 228px;
    height: 63px;
    font-family: fonts.$main-font;
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: fonts.$main-txt-color;
    border: none; 
    text-align: center;
}

