@use 'fonts';

.third-section {
    background-image: url(../images/sec3-background.png);
    min-height: 731px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__container {
        padding-left: 62px; 
        max-width: 668px;
        width: 100%;
        min-height: 284px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #333333;
    }

    &__wrapper {
        display: flex;
        flex-direction: row; 
    }

    &__title {
        font-family: fonts.$head-font;
        font-size: 20px;
        font-weight: normal;
        line-height: 26px;
        text-transform: uppercase;
    }

    &__info {
        font-family: fonts.$head-font;
        font-size: 16px;
        font-weight: normal; 
        line-height: 26px; 
    }
}

.fa-quote-left {
    font-size: 30px;
    color: #496BFE;
}

.sec3-img1 {
    max-width: 445px;
    width: 100%;
    min-height: 284px;
    height: 100%;
}